*{
	padding: 0;
	margin: 0;
}

header, footer, nav, main, section, article, nav, aside {
	display: block;
}

body{
	background:url("../images/body2.jpg") no-repeat center center fixed; 
}
@font-face {
    font-family: DJB;
    src: url("DJB.ttf");
    font-weight:300;
}
@font-face {
    font-family: fontt;
    src: url("fontt.ttf");
    font-weight:300;
}
#wrapper{
	position:relative;
	left:100px;
	font-family: DJB;
	text-align:center;
	margin:0 auto;
}
#wrapper2{
	position:relative;
	font-family: DJB;
	text-align:center;
	margin:0 auto;
}

main{
	position:absolute;
	top:50px;
	left:420px;
}
main > article:first-child h1{
	font-size:50px;
	text-decoration: underline;
}
#buttons{
	background-color: #F7FFFC;
	width:200px;
	height:100px;
	font-size: 20px;
	opacity:0.8;
}
input[type="submit"]{
	background-color: #FFFEFC;
	width:100px;
	height:50px;
	font-size: 11px;
	opacity:0.8;
	border-radius: 5px;
}

input[type="submit"]:hover{
	background-color: #CCFFFA;
	width:100px;
	height:50px;
	font-size: 11px;
	opacity:0.8;
	border-radius: 20px;
}
#buttonLinks{
	background-color: #F7FFFC;
	width:200px;
	height:100px;
	font-size: 20px;
	opacity:0.8;
	margin: 10px;
}
ul {
	list-style-type:none;
	position:absolute;
	top:120px;
}
nav{
	position:absolute;
	left:50px;
	top:-50px;
}
